{% extends "default.html.twig" %}

{% block title %}favorites
{% endblock %}

{% block stylesheets %}
	<link href="/../public/css/favorites.css" rel="stylesheet">
{% endblock %}

{% block body %}
	<div class="button">
		<button id="button">
			<a href="/profil">profil</a>
		</button>
		<button id="button">
			<a href="/">home</a>
		</button>
	</div>
{% endblock %}
