.button {
    display: flex;
    justify-content: center;
}

#button {
    margin-left: 20px;
    width: fit-content;
    height: fit-content;
}

#button2 {
    margin-left: 20px;
    width: fit-content;
    height: fit-content;
}

h3 {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

h4 {
    margin-top: 30px;
}

#formSearch {
    display: flex;
    flex-direction: column;
    margin-left: 43%;
}

#nameLogements {
    width: fit-content;
}

.logements,
.equipements,
.services,
.logementsType,
.logementsFeatures,
.user,
.notesComments {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}

.user2 {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    margin-left: 50px;
}

.read {
    display: flex;
    flex-direction: column;
    margin-left: 30%;
}

.read2,
.read3
.read4 {
    margin-left: 10%;
}

.read3 h4 {
    margin-left: 35%;
}

.read4 h4 {
    margin-left: 30%;
}

.readLogements,
.readEquipements,
.readServices,
.readLogementsType,
.readUser {
    display: flex;
    margin-left: -15%;
}
.readNotesComments {
    display: flex;

}

#submit,
#delete,
#update,
#add {
    width: fit-content;
}

#submit2,
#delete2,
#update2 {
    width: fit-content;
    margin-top: 10px;
}

#formLogement,
#formEquipements,
#formServices,
#formLogementsType,
#formUser,
#formNotesComments {
    display: flex;
    flex-direction: column;
}

#id,
#price,
#city,
#name,
#nameEquipements,
#nameServices,
#nameLogementsType,
#lastName,
#firstName,
#email,
#passwordUser,
#phoneNumber,
#isAdmin {
    margin-right: 60px;
}

#contentNotes,
#contentComments,
#id_logements,
#id_user {
    margin-right: 20px;

}

#idLogements {
    margin-right: 20px;
}

#image {
    width: 50px;
}