<!DOCTYPE html>

<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		{# <link href="/../public/css/register.css" rel="stylesheet">
		<link href="/../public/css/login.css" rel="stylesheet">
		<link href="/../public/css/dashboard.css" rel="stylesheet">
		<link href="/../public/css/home.css" rel="stylesheet">
		<link href="/../public/css/profil.css" rel="stylesheet">
		<link href="/../public/css/logements.css" rel="stylesheet"> #}
		<title>
			{% block title %}{% endblock %}
		</title>
		{% block stylesheets %}
		{% endblock %}
	</head>

	<body>
		{% block body %}{% endblock %}
	</body>

</html>
